body {
	position: relative;

	// SIZING / TAILLE
	min-width: calc(100vw - 10px);
	min-height: 100vh;
	overflow-x: hidden;

	// FOND / BACKGROUND
	background-color: var(--global__background-color);
	background-image: var(--global__background-image);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	// FONTES / POLICES
	font-family: var(--global__font-family__text);
	font-weight: var(--global__font-weight__regular);
	font-size: var(--global__font-size__md);

	// COULEURS
	color: var(--global__foreground-color);
}
