pre {
	font-family: "Courier New", Courier, monospace;
	font-size: var(--global__font-size__md);
	color: var(--global__foreground-color);
	background-color: #66666633;
	margin: 8rem 0 0 0 !important;
	padding: 3rem;
	line-height: 2em;
	border: solid 1px #66666666;
}
