table {
	border-collapse: collapse;
	max-width: 99%;
	width: 99%;

	thead {
		tr {
			th {
				font-family: var(--global__font-family__title);
				font-size: var(--global__font-size__md);
				color: var(--global__color__accent);
			}
		}
	}
	tbody {
		margin-bottom: 1.5rem;
		display: table-row-group;
		width: 99%;

		// les lignes de tableau -------------------------------------------
		tr {
			// Au survol de la ligne, fond gris neutre pratiquement transparent
			&:hover {
				background-color: #66666611 !important;
				cursor: pointer !important ;
			}

			// prettier-ignore
			&:not(:last-of-type) { border-bottom: 1px solid #66666633; }
			// Pour toutes les lignes sauf la dernière

			// Les cellules de ligne -------------------------------------
			td {
				// Equation a mis la bordure ici !
				border: none !important ;
				font-size: var(--global__font-size__sm) !important ;
				font-weight: var(--global__font-weight__regular) !important;
				color: var(--global__foreground-color) !important;

				// Sans bordure de séparation verticale
				&:not(:first-child) {
					// padding-left: 2rem !important;
					// border-left: 1px solid #66666633 !important;
				}
			}
		}
	}
}
