@use 'sass:string';

/* --------------------------------
   LES LOGOS DES MARQUES DU B2B
   @2020 @2023 - Colombi Sports
 --------------------------------*/

// prettier-ignore
$logos : 
	"4STABLE" "4StableStick", 
	"AAC" "ActionArmy", 
	"AIRTECH" "AirtchStudios", 
	"AKHONGKONG" "A&K",
	"AAC" "ActionArmy",
	"AIRTECH" "AirtechStudios",
	"AKIS" "Akis",
	"AMOMAX" "Amomax",
	"APS" "APS",
	"ARES" "Ares",
	"ARMAESTRIA" "Armaestria",
	"ARMISTOL" "Armistol",
	"ARMSCOR" "Armscor",
	"ARMYARMAMENT" "ArmyArmament",
	"ARTEMIS" "Snowpeak",
	"ASG" "ASG",
	"ASP" "ASP",
	"BAIKAL" "Baikal",
	"BALLEUROPE" "Balleurope",
	"BENJAMIN" "Benjamin",
	"BERGERLEVRAU" "BergerLevrault",
	"BLS" "BLS",
	"BOLT" "Bolt",
	"BROWNING" "Browning",
	"BUBITS" "Bubits",
	"CANIK" "Canik",
	"CAPADI" "Capadi",
	"CBM" "CBM",
	"CENTERPOINT" "CenterPoint",
	"COLOMBI" "ColombiSports",
	"CONTESSA" "Contessa",
	"COURT" "CourtImprimerie",
	"CROSMAN" "Crosman",
	"CYTAC" "Cytac",
	"DANNA" "D'Anna",
	"DENISCLEMENT" "DenisCLEMENT",
	"DE" "DoubleEagle",
	"EARMOR" "Earmor",
	"EGEARMS" "EgeArms",
	"EKOL" "Ekol",
	"ESHOOTER" "Eshooter",
	"EVOLUTION" "Evolution",
	"FIOCCHI" "Fiocchi",
	"FOB" "FOB",
	"GUIDE" "Guide",
	"GNGARMAMENT" "G&G",
	"GATE" "Gate",
	"GOLDENEAGLE" "GoldenEagle",
	"HBCALLS" "HB-Calls",
	"HBDOG" "HB-Dog",
	"INTEGRA" "Integra",
	"INVESTARM" "Investarm",
	"ISSC" "ISSC",
	"JOCKER" "Jocker",
	"KIMAR" "Kimar",
	"KIZUNA" "KizunaWorks",
	"KJWORKS" "KJWorks",
	"KONUS" "Konus",
	"LAHOUX" "LahouxOptics",
	"LEEPRECISION" "LeePrecision",
	"LTL" "LTL",
	"MAGTECH" "Magtech",
	"MAXXTECH" "MaxxTech",
	"MECGAR" "Mecgar",
	"MEGALINE" "Megaline",
	"MIDLAND" "Midland",
	"MODIFY" "Modify",
	"NOBELPOUDRE" "NobelSport",
	"NORCONIA" "Norconia",
	"NORINCO" "Norinco",
	"PHANTOMEL" "PhantomElite",
	"PIETTA" "Pietta",
	"SUPPER" "Piranha",
	"POBJEDA" "Pobjeda",
	"POWAIR" "Powair",
	"PRADEL" "PradelExcellence",
	"QUANTUM" "QuantumMechanics",
	"RAPTOR" "RaptorAirsoft",
	"REMINGTON" "Remington",
	"RANTECH" "Rantech",
	"RIO" "Rio",
	"ROG" "Rog",
	"ROSSI" "Rossi",
	"RTIARMS" "RTIArms",
	"S_T" "S&T",
	"SAPL" "SAPL",
	"SAUVESTRE" "Sauvestre",
	"SCHMIDT" "Schmidt&Bender",
	"SHS" "SHS",
	"SNOWPEAK" "Snowpeak",
	"SNOWWOLF" "SnowWolf",
	"SOGER" "Soger",
	"SOLOGNE" "Sologne",
	"SPECNAARMS" "SpecnaArms",
	"STALON" "Stalon",
	"STEPLAND" "Stepland",
	"TACTICALOPS" "TacticalOps",
	"TAURUS" "Taurus",
	"TERMOPAD" "Thermopad",
	"TIPPMANN" "Tippmann",
	"UNICORN" "Unicorn",
	"VICTORY" "VBPower",
	"VALERIA" "Valeria",
	"VEOPTIK" "Veoptik",
	"VIDE" "ColombiSports",
	"VIRI" "Viri",
	"WADIE" "Wadie",
	"WELL" "Well",
	"WINCHESTER" "Winchester",
	"WOLVERINE" "Wolverine",
	"WSD" "WSD";

//@each $ID, $file in $logos {
//	@media (prefers-color-scheme: light) {
//		.product-info,
//		.product-thumbnail {
//			&[class*="marque-#{$ID}"] {
//				--marque__logo-url: url("https://colombisports.com/b2b/img/logos-color/#{$file}.png");
//			}
//		}
//	}
//	@media (prefers-color-scheme: dark) {
//		.product-info,
//		.product-thumbnail {
//			&[class*="marque-#{$ID}"] {
//				--marque__logo-url: url("https://colombisports.com/b2b/img/logos-white/#{$file}.png");
//			}
//		}
//	}
//}

@each $ID, $file in $logos {
	.product-info,
	.product-thumbnail {
		&[class*='marque-#{$ID}'] {
			--marque__logo-color__url: url('https://colombisports.com/b2b/img/logos-color/#{$file}.png');
			--marque__logo-white__url: url('https://colombisports.com/b2b/img/logos-white/#{$file}.png');
		}
	}
}
