@use "./../utils/breakpoints" as *;
@import url("./../preprod-colombi.e-liance.net/devmin.css");

body {
	font-size: 12px;
	padding: 5rem;
}

#PACKS_AIRFUN {
	--card-background: linear-gradient(0deg, #528bbe, #242957); //  url(https://colombisports.com/b2b/img/illustrations/PackAirfun_BlocHome.jpg);
	--title-color: #fc0;
	// --card-color: purple;
	--button-color: red;
	--button-text: white;
}

#AIRSOFT {
	--background-image: url("./../../assets/Airgun.jpg");
	--title-color: green;
	--card-color: red;
}

#BUTIN_AIRSOFT {
	--background-image: none;
	--card-color: #4f6930;
}

#LTL {
	--p__font-size: 16px;
	--card-color: rgb(32, 34, 83);
}

#VENTES-FLASH {
	--background-image: url(https://colombisports.com/b2b/img/illustrations/3joursDeFolie.jpg);
	--main-color: #185996;
	--button-color: var(--main-color);
	--title-color: purple;
}

#LAHOUX {
	--background-image: url(https://colombisports.com/b2b/img/illustrations/Lahoux.jpg);
	--card-color: #fc7b0a;
}

#ACC_CANIK {
	--card-background: #900;
	--card-color: red;
}

/**
	La grille des infos
**/
.grid_infos {
	// La taille de la cellule
	--cell-width: 250px;
	--cell-height: 225px;
	// La transition pour tous
	--transition: all 150ms ease-in-out;

	--padding: 0rem;
	--border-radius: 0.5rem;

	@include for-phone {
		--cell-width: 100px;
	}

	// La grille en mode DENSE
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--cell-width), 1fr));
	// grid-auto-rows: var(--cell-height);
	grid-auto-flow: dense;
	gap: 5rem;
}

/**
	Les cartes par défaut
**/
[class*="card"] {
	--padding: 2em; // Padding à répercuter

	// Dispo en grille
	display: grid;
	min-height: var(--cell-height);
	border-radius: var(--global__UI__border-radius--alert);
	overflow: hidden;

	background: var(--card-background, var(--global__background-color));
	background-size: cover;
	background-position: center;

	// Indique que le bloc est à l'horizontal
	&.landscape {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		@include for-phone {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
		}
	}
	// Indique que le bloc est à la verticale
	&.portrait {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
	}

	&:hover,
	&:active {
		.illustration img,
		.illustration video {
			transform: scale(1.1);
		}
	}

	// La catégorie de la carte
	.category {
		display: inline-block;
		font-family: var(--global__font-family__text);
		font-size: var(--h3__font-size, var(--global__font-size__xs));
		color: white;
		text-shadow: 0 0 5px black;
		padding: 0;
		margin: 0 0 2em 0;
		position: relative;

		&:after {
			content: "";
			width: 3rem;
			height: 3px;
			display: block;
			background-color: var(--card-color, var(--title-color, var(--global__color__accent)));
			margin-left: calc(var(--padding) * -1);
			position: absolute;
			top: 2em;
		}
	}

	// Inverse la carte
	&.inverted .illustration {
		order: 1;
	}

	// La partie contenant l'illustration : image ou video....
	.illustration {
		// Est dimensionnné par la carte
		padding: var(--padding);
		position: relative;
		overflow: hidden;
		isolation: isolate;

		// Recouvre toute la zone d'illustration
		img,
		video {
			position: absolute;
			object-fit: cover;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			padding: 0;
			transition: var(--transition);
		}
	}

	// LA partie contenant le texte
	.descriptif {
		padding: var(--padding);
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;

		h1 {
			padding: 0;
			margin: 0;
			transition: var(--transition);
			color: var(--title-color, var(--main-color, var(--global__color__accent)));
			border-radius: var(--global__UI__border-radius--input);
			font-family: var(--global__font-family__title);
			font-size: var(--h1__font-size, var(--global__font-size__lg));
			margin-bottom: 0.5em;

			text-transform: uppercase;
		}
		a {
			padding: 0.5em 0.75em;
			bottom: var(--padding);
			transition: var(--transition);
			color: var(--button-text, white);
			background-color: var(--button-color, var(--global__color__accent));
			border-radius: var(--global__UI__border-radius--input);
			font-family: var(--global__font-family__title);
			font-size: var(--h1__font-size, var(--global__font-size__sm));
			align-self: flex-end;
			border: none;
			margin-top: auto;
			border: solid 3px transparent;

			&:hover {
				border: 3px solid var(--title-color);
			}
		}
		p {
			margin: 0;
			bottom: 1rem;
			font-size: var(--p__font-size, var(--global__font-size__xs));
			transition: var(--transition);
			line-height: 1.61;
		}
	}

	// Tous les objets en plein bloc....
	[class*="background-"] {
		position: absolute;
		object-fit: cover;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: var(--transition);

		transform-origin: center center;
	}

	&:hover,
	&:active {
		.background-image:before {
			transform: translateY(0%);
		}
	}
	// L'élément contenant le fond et le dégradé
	// Est séparé du fond de la carte pour à cause de l'effet de rotation
	.background-image {
		background: var(--background-image, #66666622);
		background-position: center;
		background-size: cover;

		// L'overlay du fond
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			mix-blend-mode: multiply;
			background: linear-gradient(#66666600 25%, var(--card-color) 75%);
			transform: translateY(100%);
			transition: var(--transition);
		}
	}
}

[class*="_1"] {
	grid-column: span 1;
}

[class*="_2"] {
	grid-column: span 2;
}

[class*="_3"] {
	grid-column: span 3;
	@include for-phone {
		grid-column: span 2;
	}
}
[class*="_4"] {
	grid-column: span 4;
	@include for-phone {
		grid-column: span 2;
	}
}

[class*="x1"] {
	grid-row: span 1;
}

[class*="x2"] {
	grid-row: span 2;
}

[class*="x3"] {
	grid-row: span 3;
}

[class*="x4"] {
	grid-row: span 4;
}