/**
	La disposition et les classes du identiques au menu 
	ne servent qu'à la lisibilité et compréhension.
**/
// ARMES ////////////////////////////////////////////////////
.division-chasse {
	// Armes de chasse
	&.famille-1000,
	&.categorie-1285,
	&.categorie-1285,
	&.categorie-1290,
	&.categorie-1285,
	&.categorie-1305,
	&.categorie-1307,
	&.categorie-1320,
	&.categorie-1330,
	&.categorie-1340,
	&.categorie-1745,
	&.categorie-1746,
	&.categorie-1747,
	&.categorie-1750,
	&.categorie-1760,
	// Armes de sport
	&.categorie-1760,
	// Armes de tir
	&.famille-1200,
	&.categorie-2727,
	&.categorie-1290,
	&.categorie-1301,
	&.categorie-1320,
	&.categorie-2490,
	&.categorie-1430,
	&.categorie-1745,
	&.categorie-1200,
	// Armes de loisirs
	&.famille-1252,
	&.categorie-1300,
	&.categorie-1301,
	&.categorie-1330,
	&.categorie-2500,
	&.categorie-2730,
	// Répliques anciennes
	&.famille-3100,
	&.categorie-2720,
	&.categorie-1010,
	&.categorie-2110,
	// Chargeurs
	&.categorie-1430:not(.famille-2300) {
		--product-menu__color: var(--global__color__armes);
	}

	// DEFENSE //////////////////////////////////////////////////
	// Pistolets d'alarme
	&.famille-1255,
	&.categorie-2610,
	// Revolvers d'alarme 
	&.categorie-2740,
	// Pistolets de défense 
	&.categorie-2620,
	// Revolvers de défense 
	&.categorie-2750,
	// SHOCKERS 
	&.categorie-2780,
	// Matraques, poing et menottes
	&.categorie-2050,
	&.categorie-2650,
	&.categorie-2052,
	// Bombes de défense
	&.categorie-1265 {
		--product-menu__color: var(--global__color__defense);
	}

	// MUNITIONS ///////////////////////////////////////////////////////////////////
	// Cartouches
	&.famille-1700,
	&.categorie-2300,
	// Balles
	&.categorie-2305,
	&.categorie-2145,
	// Loisirs
	&.categorie-2120,
	&.categorie-2210,
	&.categorie-1775,
	// Défense
	&.categorie-2710,
	&.categorie-2230,
	// Pourdre noire
	&.categorie-1252,
	// Presse de rechargement
	&.categorie-2710,
	// Acces. de rechargement
	&.categorie-1012,
	&.categorie-1020,
	&.categorie-1250,
	&.categorie-1940 {
		--product-menu__color: var(--global__color__munitions);
	}

	// OPTIQUE /////////////////////////////////////////////////////////////////////
	// Lunettes
	&.famille-1600,
	&.categorie-2025,
	&.categorie-2020,
	// Points-rouge
	&.categorie-2660,
	// Juemelles
	&.categorie-1950,
	// Visions nocturnes
	&.categorie-2860,
	// Lasers & télémètres
	&.categorie-2015,
	&.categorie-2820,
	// Rails & colliers
	&.categorie-2062,
	// Lampes
	&.categorie-1970 {
		--product-menu__color: var(--global__color__optique);
	}

	// ACCESSOIRES /////////////////////////////////////////////////////////////////
	// Accessoires de chasse
	&.famille-1900,
	&.categorie-1120,
	&.categorie-1210,
	&.categorie-1240,
	&.categorie-1267,
	&.categorie-1350,
	&.categorie-1640,
	&.categorie-1650,
	&.categorie-1780,
	&.categorie-1820,
	&.categorie-2450,
	&.categorie-2640,
	&.categorie-2760,
	// Accessoires de tir
	&.famille-2000,
	&.categorie-1262,
	&.categorie-1410,
	&.categorie-1610,
	&.categorie-1730,
	&.categorie-2027,
	// Accessoires pour armes
	&.famille-1800,
	&.categorie-1500,
	&.categorie-1625,
	&.categorie-1710,
	&.categorie-1740,
	&.categorie-2040,
	&.categorie-2060,
	&.categorie-2320,
	&.categorie-2630,
	&.categorie-2767,
	&.categorie-2783,
	&.categorie-2840,
	&.categorie-1920,
	// Accessoires poudre noire
	&.famille-3100:not(.categorie-2720),
	// Entretien et nettoyage
	&.famille-1800,
	&.categorie-1268,
	&.categorie-1680,
	&.categorie-1692,
	&.categorie-1720,
	&.categorie-1830,
	&.categorie-1930,
	&.categorie-2306,
	&.categorie-2400,
	&.categorie-2787,
	// Pour le chien
	&.famille-2300,
	// Piles et batteries
	&.categorie-1261 {
		--product-menu__color: var(--global__color__accessoires);
	}

	// OUTDOOR /////////////////////////////////////////////////////////////////////
	// Textile
	&.famille-1900,
	&.categorie-1263,
	&.categorie-1266,
	&.categorie-1420,
	&.categorie-1450,
	&.categorie-1670,
	&.categorie-1770,
	&.categorie-2307,
	&.categorie-2308,
	&.categorie-2700,
	&.categorie-2701,
	&.categorie-2810,
	&.categorie-2850,
	// Archerie
	&.categorie-1220,
	&.categorie-1230,
	// Sarbacanes
	&.categorie-1281,
	// Lances-pierres
	&.categorie-2010,
	// Déguisement
	&.categorie-2880 //
	{
		--product-menu__color: var(--global__color__outdoor);
	}
}

// airsoft /////////////////////////////////////////////////////////////////////
// Répliques
.division-airsoft {
	&.famille-2670,
	&.famille-2680,
	&.famille-2700,
	// Consommable
	&.categorie-2787,
	&.categorie-1775,
	&.categorie-2210,
	&.categorie-1680,
	&.categorie-1830,
	// Equipement du joueur
	&.categorie-1266,
	&.categorie-1360,
	&.categorie-1410,
	&.categorie-1420,
	&.categorie-1425,
	&.categorie-1633,
	&.categorie-1650,
	&.categorie-1730,
	&.categorie-1740,
	&.categorie-1770,
	&.categorie-1780,
	&.categorie-1790,
	&.categorie-1920,
	&.categorie-1927,
	&.categorie-2040,
	&.categorie-2045,
	&.categorie-2055,
	&.categorie-2060,
	&.categorie-2309,
	&.categorie-2760,
	&.categorie-2763,
	&.categorie-2810,
	&.categorie-2850,
	&.categorie-1610,
	&.categorie-2365,
	// Reenectactement (déguisement)
	&.categorie-2880:not(.marque-TAURUS),
	// Batteries & chargeurs
	&.categorie-1261,
	// Accessoires de répliques
	&:not(.division-airsoft.famille-1700),
	&:not(.division-airsoft.famille-1600),
	&:not(.division-airsoft.famille-2700),
	&:not(.division-airsoft.famille-2680),
	// Pièces détachéees
	&.categorie-1280,
	&.categorie-1636,
	&.categorie-1645,
	&.categorie-1715,
	&.categorie-1910,
	&.categorie-1923,
	&.categorie-2070,
	&.categorie-2460,
	&.categorie-2470,
	&.categorie-2725,
	&.categorie-2767,
	&.categorie-2755,
	&.categorie-9999,
	&.categorie-2071,
	&.categorie-2072,
	&.categorie-2073,
	// Optiques
	&.categorie-2320,
	&.categorie-2660,
	&.categorie-2020,
	&.categorie-2015,
	&.categorie-2062,
	&.categorie-2025 {
		--product-menu__color: var(--global__color__airsoft);
	}
}
