@use 'sass:color';
//
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Montserrat:wght@300;500;700&display=swap');

:root {
	// Les polices
	--global__font-family__title: 'Barlow Semi Condensed', sans-serif;
	--global__font-family__text: 'Montserrat', sans-serif;

	// Uniformisation des tailles
	--global__font-size__xs: 0.9rem;
	--global__font-size__sm: 1.5rem;
	--global__font-size__md: 2.1rem;
	--global__font-size__lg: 2.7rem;
	--global__font-size__xl: 3.3rem;

	// Uniformisation des épaisseurs
	--global__font-weight__light: 300;
	--global__font-weight__regular: 500;
	--global__font-weight__bold: 700;

	// Couleurs
	--global__color__marques: var(--global__background-color);
	--global__color__armes: #ff7700;
	--global__color__defense: #816363;
	--global__color__munitions: #0569b3;
	--global__color__rechargement: red; // #0569b3;
	--global__color__optique: #1c3661;
	--global__color__accessoires: #235c71;
	--global__color__airsoft: #588a62;
	--global__color__outdoor: #95c121;
	// Les couleurs Colombi
	--global__color__orange: #f50;
	--global__color__bleu: #06c;
	--global__color__vert: #9c0;
	// L'échelle de gris
	--global__color__grey25: hsl(0, 0%, 75%);
	--global__color__grey33: hsl(0, 0%, 66%);
	--global__color__grey50: hsl(0, 0%, 50%);
	--global__color__grey66: hsl(0, 0%, 33%);
	--global__color__grey75: hsl(0, 0%, 25%);
	// Ancienne versions
	--global__color__cat-B: #3e6484;
	--global__color__cat-C: #97764e;
	--global__color__cat-D: #6d9158;
	--global__color__success: #669900;
	--global__color__warning: #ff9900;
	--global__color__info: #00ccff;
	--global__color__danger: #d00;
	--global__color__preco: #12a59e;
	--global__color__preco--text: white;
	--global__color__nouveau: #06c;
	--global__color__nouveau--text: white;
	--global__color__promo: #c00;
	--global__color__promo--text: white;
	--global__color__step-todo: #666;
	--global__color__step-current: var(--global__color__vert);
	--global__color__step-validate: var(--global__color__bleu);
	// Couleur d'accent
	--global__color__accent: #f50;
	--global__color__accent--gradient: #ed7;

	// Les transition
	--global__transition: 333ms ease-in-out;
	--global__transition--all: all var(--global__transition);

	// Element d'interface
	--global__UI__border-radius--input: 100vmax;
	--global__UI__border-radius--card: 2rem;
	--global__UI__border-radius--alert: 1rem;
	--global__UI__border-style: dotted 1px var(--global__color__accent);
	--global__UI__border-style--unset: solid 1px transparent;
	--global__UI__selected-item: var(--global__color__accent);

	--global__container__padding: 5vmax;
	--global__container__width: 100vw; // clamp(30rem, 95vw, 100vw); ;
}

:root .show-prix-public {
	--global__color__accent: hsl(200, 10%, 50%);
	--global__color__accent--hover: hsl(200, 10%, 40%);
}

// Pour les utilsateurs à thème clair ////////////////////////////////////////////////////////////////////////////////////
@media (prefers-color-scheme: light) {
	:root {
		--global__background-color: #fff;
		--global__foreground-color: #000011;
		--global__background-image: radial-gradient(ellipse at top, white 0%, #ddd 75%);

		--global__color__accent--hover: #f72;
		--global__filter__unavailable: grayscale(1) contrast(0.1) brightness(1.7);

		--global__color__promo: #c00;

		--global__UI__unselected-item: var(--global__color__grey33);
	}
}

// Pour les utilsateurs à thème ombre ////////////////////////////////////////////////////////////////////////////////////
@media (prefers-color-scheme: dark) {
	:root {
		--global__background-color: #000011;
		--global__foreground-color: #fff;
		--global__background-image: radial-gradient(ellipse at top, #333333 25%, var(--global__background-color) 100%);

		--global__color__accent--hover: #c30;
		--global__filter__unavailable: grayscale(1) contrast(0.3) brightness(0.3);

		--promo__backgrou: #c00;

		--global__UI__unselected-item: var(--global__color__grey66);
	}
}
