/**
	Remet à zéro un ensemble de règles dont le paramètrage pas défaut n'est pas utilisé.
**/

// Liste à puces
ol,
ul {
	list-style: none;
	list-style-type: none;
}

// met l'unité REM à à 10 px
body {
	font-size: 62.5%;
	font-size: 1.6rem;
	line-height: 1.25em;
}

// Reset des marges
html,
body,
div {
	padding: 0;
	margin: 0;
	background: initial;
}

// Inclusion des bordures dans les dimensions
* {
	box-sizing: border-box;

	&::after,
	&::before {
		box-sizing: inherit;
		content: initial;
		display: initial;
	}
}
