@charset "UTF-8";
@import url("./../preprod-colombi.e-liance.net/devmin.css");
body {
  font-size: 12px;
  padding: 5rem;
}

#PACKS_AIRFUN {
  --card-background: linear-gradient(0deg, #528bbe, #242957);
  --title-color: #fc0;
  --button-color: red;
  --button-text: white;
}

#AIRSOFT {
  --background-image: url("./../../assets/Airgun.jpg");
  --title-color: green;
  --card-color: red;
}

#BUTIN_AIRSOFT {
  --background-image: none;
  --card-color: #4f6930;
}

#LTL {
  --p__font-size: 16px;
  --card-color: rgb(32, 34, 83);
}

#VENTES-FLASH {
  --background-image: url(https://colombisports.com/b2b/img/illustrations/3joursDeFolie.jpg);
  --main-color: #185996;
  --button-color: var(--main-color);
  --title-color: purple;
}

#LAHOUX {
  --background-image: url(https://colombisports.com/b2b/img/illustrations/Lahoux.jpg);
  --card-color: #fc7b0a;
}

#ACC_CANIK {
  --card-background: #900;
  --card-color: red;
}

/**
	La grille des infos
**/
.grid_infos {
  --cell-width: 250px;
  --cell-height: 225px;
  --transition: all 150ms ease-in-out;
  --padding: 0rem;
  --border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--cell-width), 1fr));
  grid-auto-flow: dense;
  gap: 5rem;
}
@media only screen and (max-width: 576px) {
  .grid_infos {
    --cell-width: 100px;
  }
}

/**
	Les cartes par défaut
**/
[class*=card] {
  --padding: 2em;
  display: grid;
  min-height: var(--cell-height);
  border-radius: var(--global__UI__border-radius--alert);
  overflow: hidden;
  background: var(--card-background, var(--global__background-color));
  background-size: cover;
  background-position: center;
}
[class*=card].landscape {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
@media only screen and (max-width: 576px) {
  [class*=card].landscape {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
[class*=card].portrait {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
[class*=card]:hover .illustration img,
[class*=card]:hover .illustration video, [class*=card]:active .illustration img,
[class*=card]:active .illustration video {
  transform: scale(1.1);
}
[class*=card] .category {
  display: inline-block;
  font-family: var(--global__font-family__text);
  font-size: var(--h3__font-size, var(--global__font-size__xs));
  color: white;
  text-shadow: 0 0 5px black;
  padding: 0;
  margin: 0 0 2em 0;
  position: relative;
}
[class*=card] .category:after {
  content: "";
  width: 3rem;
  height: 3px;
  display: block;
  background-color: var(--card-color, var(--title-color, var(--global__color__accent)));
  margin-left: calc(var(--padding) * -1);
  position: absolute;
  top: 2em;
}
[class*=card].inverted .illustration {
  order: 1;
}
[class*=card] .illustration {
  padding: var(--padding);
  position: relative;
  overflow: hidden;
  isolation: isolate;
}
[class*=card] .illustration img,
[class*=card] .illustration video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 0;
  transition: var(--transition);
}
[class*=card] .descriptif {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
[class*=card] .descriptif h1 {
  padding: 0;
  margin: 0;
  transition: var(--transition);
  color: var(--title-color, var(--main-color, var(--global__color__accent)));
  border-radius: var(--global__UI__border-radius--input);
  font-family: var(--global__font-family__title);
  font-size: var(--h1__font-size, var(--global__font-size__lg));
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
[class*=card] .descriptif a {
  padding: 0.5em 0.75em;
  bottom: var(--padding);
  transition: var(--transition);
  color: var(--button-text, white);
  background-color: var(--button-color, var(--global__color__accent));
  border-radius: var(--global__UI__border-radius--input);
  font-family: var(--global__font-family__title);
  font-size: var(--h1__font-size, var(--global__font-size__sm));
  align-self: flex-end;
  border: none;
  margin-top: auto;
  border: solid 3px transparent;
}
[class*=card] .descriptif a:hover {
  border: 3px solid var(--title-color);
}
[class*=card] .descriptif p {
  margin: 0;
  bottom: 1rem;
  font-size: var(--p__font-size, var(--global__font-size__xs));
  transition: var(--transition);
  line-height: 1.61;
}
[class*=card] [class*=background-] {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: var(--transition);
  transform-origin: center center;
}
[class*=card]:hover .background-image:before, [class*=card]:active .background-image:before {
  transform: translateY(0%);
}
[class*=card] .background-image {
  background: var(--background-image, rgba(102, 102, 102, 0.1333333333));
  background-position: center;
  background-size: cover;
}
[class*=card] .background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background: linear-gradient(rgba(102, 102, 102, 0) 25%, var(--card-color) 75%);
  transform: translateY(100%);
  transition: var(--transition);
}

[class*=_1] {
  grid-column: span 1;
}

[class*=_2] {
  grid-column: span 2;
}

[class*=_3] {
  grid-column: span 3;
}
@media only screen and (max-width: 576px) {
  [class*=_3] {
    grid-column: span 2;
  }
}

[class*=_4] {
  grid-column: span 4;
}
@media only screen and (max-width: 576px) {
  [class*=_4] {
    grid-column: span 2;
  }
}

[class*=x1] {
  grid-row: span 1;
}

[class*=x2] {
  grid-row: span 2;
}

[class*=x3] {
  grid-row: span 3;
}

[class*=x4] {
  grid-row: span 4;
}