@use "./../utils/breakpoints" as *;
//
.article_read--documents {
	width: 100%; // Est une sectionne placée dans un .row parent, à l'instar des autres

	// prettier-ignore
	.pull-right { display: none ; } // Masque le bouton de la visionneuse PDF

	// Le UL parent des éléments
	.list-product-documents {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, auto));
		gap: 3rem;

		// L'élément par lui même
		li {
			white-space: unset; // Sans ceci la césure des liens n'a pas lieux.

			p {
				display: flex;
				flex-direction: column;
				border-radius: calc(var(--global__UI__border-radius--card) * 0.5);
				background-color: var(--global__background-color);
				padding: 3vmin;

				transform-origin: top left;
				transition: var(--global__transition--all);

				// prettier-ignore
				i { 	font-size: var(--global__font-size__xl);
				color: var(--global__foreground-color);
				opacity: 0.4;
			} // L'icone fichier

				// prettier-ignore
				a { 	border: none; }
				// Retire le trait du lien

				// Au survol
				&:hover {
					cursor: pointer;
					background-color: var(--global__color__accent);

					// prettier-ignore
					i, a { opacity: 1; color: white; }
					// On met plus lisible
				}
			}
		}
	}
}
