@use "./../utils/breakpoints" as *;
@use "./../abstract/Product";

#article_read {
	// Disposition DE LA PAGE /////////////////////////////////////////////////////////////////////
	.container {
		// Evite que le container soit trop court en bas de page : impossible de généraliser...
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-items: stretch;

		// Inverse la gallerie d'image avec la colonne de texte
		& > div.row:first-of-type {
			display: flex;
			flex-flow: row-reverse nowrap;
			gap: 5vmax;

			// prettier-ignore
			@include for-tablet { & {
				// En colonne, pleine largeur
				flex-direction: column-reverse;
				// prettier-ignore
				.product-image-infos, .product-image-wrapper { width: 100%; }
			} }
		}
	}

	// DISPO DES ELEMENTS ////////////////////////////////////////////////////////////////////////

	.product-info {
		@extend .abstract-Product;
		// Est une extention de Product...

		// Réafffiche en couleur principale, sans tenir compte du stock
		--product__stock__opacity: 1 !important ;

		iframe {
			width: 100% !important;
			aspect-ratio: 16/9;
			height: auto !important ;
		}
		// Layout des infos  -----------------------------------------------------------------

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		column-gap: 3rem;
		align-items: center;

		// prettier-ignore
		hr{display: none ; } // Masquage des séparateurs

		// Le fil d'ariane en premier -------------------------------------------------------

		.breadcrumb {
			width: 100%;
			order: -1;
		}

		// Redéfinit la marque---------------------------------------------------------------

		.product-marque {
			// --product__marque__width: 20rem !important;
			// --product__marque__height: 8rem !important ;
			margin: 2rem 0 1rem -1rem;
		}

		// Rédéfinit le status ------------------------------------------------------------

		@extend .abstract-Product--Status;
		--product__status__inset: 7rem 0 auto auto;
		--product__status__font-size: var(--global__font-size__md);

		// Sépare la RÉFÉRENCE du code RGA : un à gauche, l'autre à droite ---------------

		.product-code {
			width: 100%;

			display: flex;
			justify-content: space-between;
			margin-top: 1rem;
		}
		.product-rga {
			background-color: var(--global__color__grey50);
			border-radius: var(--global__UI__border-radius--input);
			padding: 0.25rem 1.5rem;
			// prettier-ignore
			span { color: var(--global__background-color); }
		}

		// Le nom du produit ------------------------------------------------------------

		.product-libelle {
			width: 100%;
			font-size: var(--global__font-size__xl);
			margin-bottom: 1em;
		}

		// La catégorie ----------------------------------------------------------------

		.product-description {
			width: 100%;
			margin-bottom: 2em;
		}

		// La catégorie ----------------------------------------------------------------

		.product-cat {
			position: absolute;
			right: 0;
			bottom: 0;
			transform: translateY(-170%);
		}

		.product-info-footer {
			margin-top: 5rem;
			width: 100%;

			// prettier-ignore
			.product-col-back{ display: none ; }
			// Masque le bouton retour
		}

		.product-promotion span {
			color: var(--global__foreground-color) !important ;
			font-size: var(--global__font-size__md);
			font-weight: var(--global__font-weight__bold);
			margin-bottom: 0.33em;
			display: block;

			&::after {
				content: "Promotion";
				font-size: var(--global__font-size__xs);
				font-weight: var(--global__font-weight__regular);
				line-height: 1rem;
				margin-top: 0.5em;
				display: block;
			}
		}

		.product-prix,
		.product-remise,
		.product-promotion {
			border-left: 1px solid var(--global__color__accent);
			padding: 0.8rem 0 0.5rem 0.5rem !important;
			width: 12rem;
			margin-top: 2rem !important;
		}
	}

	// La gallerie photo ///////////////////////////////////////////////////////////////////////
	.product-image-wrapper {
		--image--gap: 5vw;
		//
		grid-area: gallery;
		width: clamp(400px, 45vw, 800px);
		//
		position: sticky;
		align-self: flex-start; // La ligne qui fait fonctionner la position "sticky"
		top: calc(var(--header__height) + var(--navbar__height));
		//
		//width: calc(40vw);
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		gap: 2rem;

		// La vue de l'image
		.product-image-container {
			background: radial-gradient(farthest-corner, white 50%, #cccccc 100%);
			box-shadow: 0 0 4rem #00000044;
			border-radius: var(--global__UI__border-radius--card);
			aspect-ratio: 1.25;
			height: auto;
			margin: 0;

			// prettier-ignore
			.product-image{ mix-blend-mode: multiply ; }

			&:hover {
				// prettier-ignore
				.product-image{ display: none ; }
				// prettier-ignore
			}
			.zoomImg {
				mix-blend-mode: multiply;
			}
		}

		.product-gallery {
			display: flex;
			justify-content: flex-start;

			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			gap: 2rem; //

			& > a {
				overflow: hidden;
				border-radius: 0.8rem;
				border: none;
				margin: 0;
				transition: var(--global__transition--all);
				border: solid 5px transparent;
				opacity: 0.75;

				&.active {
					opacity: 1;
					border-color: var(--global__color__accent);
				}

				img {
					border-radius: 0 !important ;
				}
			}
		}
	}
}
