@use "./../utils/breakpoints" as *;
@use "./../abstract/Product";
@use "./article_read--product";
@use "./article_read--gallery";
@use "./article_read--documents";
@use "./article_read--accessories";
@use "./article_read--similars";

#article_read {
	// Disposition DE LA PAGE /////////////////////////////////////////////////////////////////////
	.container {
		// Evite que le container soit trop court en bas de page : impossible de généraliser...
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-items: stretch;

		// Les sections de l'article
		& .row {
			width: 100% !important ;
			margin-bottom: 5rem;

			// Le titre des section
			& h3 {
				font-size: var(--global__font-size__lg);
				border-bottom: var(--global__UI__border-style);
				padding-bottom: 1rem;
				margin-bottom: 3rem;
			}
		}
		// Le container de chaque section transfromer en section

		// Inverse la gallerie d'image avec la colonne de texte
		& > div.row:first-of-type {
			display: flex;
			flex-flow: row-reverse nowrap;
			gap: 5vmax;
			// margin-bottom: 4rem; // Définit par ".abstract-ArticleSection"

			// En colonne, pleine largeur
			@include for-tablet {
				flex-direction: column-reverse;
				// prettier-ignore
				.product-image-infos, .product-image-wrapper { width: 100%; }
			}
		}
	}

	.product-info {
		@extend .article_read--product;
	}

	.product-image-wrapper {
		@extend .article_read--gallery;
	}

	.product-documents {
		@extend .article_read--documents;
	}

	.product-accessoires {
		@extend .article_read--accessories;
	}
	.product-similairees {
		@extend .article_read--similars;
	}
}
