@use "./product-result-main";
@use "./product-result-filter";
@use "./../abstract/Typo" as *;
@use "./../utils/breakpoints" as *;

/**
	PAGE AFFICHANT LES RECHERCHES DE PRODUITS
	L'affichage des grilles articles se faisant dans "product-wrapper"
**/

// L'élement directement après la barre de menu : enfant direct de ".container"

// Sur 2 colonne jusqu'au format "tablette" /////////////////////////////
#product_result_wrapper {
	display: grid;
	grid-template-columns: 27rem 1fr;
	grid-template-areas: "filters main";
	gap: 3em;

	@include for-tablet {
		grid-template-columns: 100%;
		grid-template-areas:
			"main"
			"filters";
	}

	// Le container du résultat : Entête et liste ///////////////////////
	#product_result_main {
		@extend #product_result_main;
	}

	// La colonne des filres ///////////////////////////////////////////////
	#product_result_filter {
		@extend #product_result_filter;
	}
}
