@use "./../abstract/Product";
@use "./../abstract/Promotion";

/**
	LES MINIATURES ARTICLES ///////////////////////////////////////////

	Est une extention de la class abstraite "Product" sensée définir
	tous les éléments globaux d'une article: couleur, fonte...

	Ne gère pas l'aspect des INDISPONIBLES (cf product-wrapper)
**/

.product-thumbnail {
	position: relative;
	border: none !important ;
	border-radius: var(--global__UI__border-radius--card);
	background-color: var(--global__background-color);

	padding: 6rem 2rem 2rem 2rem;

	@extend .abstract-Product--card;

	// Définit les couleurs de la carte avant survol.
	--product-button__color: var(--global__color__accent);
	--product-icon__color: var(--global__foreground-color);
	--product-ribbon__color: var(--colormap__product-color);

	//filter: var(--unvalaible-filter);

	&:hover {
		//--product-price__color: white;
		--product-code__color: white;
		--product-rga__color: white;
		--product-libelle__color: white;
		--product-border__color: white;
		--product-button__color: white;
		--product-icon__color: var(--colormap__product-color);
		--product-ribbon__color: black;

		//--unvalaible-filter: none;

		background-color: var(--colormap__product-color);
		box-shadow: none;
	}

	// LE LOGO DE LA MARQUE
	&::before {
		content: "";
		position: absolute;
		height: 3rem;
		margin-top: -4.5rem;
		margin-left: 0rem;
	}
	&.statut-PRECO::after,
	&.statut-NOUVEAU::after {
		color: white;
		position: absolute;
		top: -28px;
		left: 20px;
		border-radius: 6px 6px 0 0;
		display: grid;
		place-content: center;
		font-size: var(--global__font-size__sm);
		font-weight: var(--global__font-weight__bold);
		padding: 0.25em 1em;
		z-index: -1;
		box-shadow: inset 0 -15px 5px -10px #00000099;
	}

	&.statut-NOUVEAU::after {
		content: "NOUVEAU";
		background-color: var(--global__color__nouveau);
	}
	&.statut-PRECO::after {
		content: "PRECOMMANDE";
		background-color: var(--global__color__preco);
	}

	.product-promotion.ribbon-top-right {
		@extend .abstract-Promotion;
	}
	/**
		LE PARENT DES INFOS PRODUITS ----------------------------------------
		Celui à ne pas utiliser dans l'incustre
	**/

	.product-caption {
		background: none;
		border: none;
		padding: 2rem 0 0 0; // Correspond au padding de la carte
		position: relative;
		display: grid; // Pour pouvoir réordonner les élements

		// Inverse les prix
		// prettier-ignore
		& div[data-toggle="prix-public"] { order: 5; }
		// prettier-ignore
		& div[data-toggle="prix-tarif"] { order: 4; }

		&:hover {
			--input__opacity: 1;
			--input__transform: translate(0);
		}
		& > div {
			padding: 0;

			&.product-code {
				::before {
					padding: calc(var(--card__padding) * -1rem);
				}
			}
			&.product-libelle {
				height: 4em;
				overflow: hidden;
			}

			&.product-prix {
			}
		}
	}

	form {
		display: contents;
	}

	.product-panier {
		&-wrapper {
			--input__opacity: 1;
			--input__transform: translate(100%);

			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: flex-end;
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0;
			transition: var(--global__transition--all);

			&:hover,
			&:focus-within {
				//background-color: bisque;

				--input__opacity: 1;
				--input__transform: translate(0);
			}
		}
		// prettier-ignore
		&-col-text { display: none; }

		// prettier-ignore
		&-col-input .label {display: none; }

		&-col-input {
			width: 100%;
			margin: 0;
			flex: unset;
			opacity: var(--input__opacity);
			transform: var(--input__transform);

			input {
				background: none;
				border: none !important ;
				border-radius: 0 !important ;
				border-bottom: var(--global__UI__border-style) !important ;
				font-weight: var(--global__font-weight__bold) !important;
				font-size: var(--global__font-size__lg) !important ;
				text-align: right;
				padding: 0 1rem !important;
				margin: 0 !important ;
				display: none;
			}
		}
		g &-col-button .btn-add-cart {
			// BOUTON AJOUTER AU PANIER //////////////////////////////////////////////

			display: grid;
			place-content: center;
			height: 8rem;

			//--product-button__color: red; // var(--global__background-color);
			color: var(--product-icon__color) !important;
			border-color: var(--product-button__color) !important;
			background-color: var(--product-button__color) !important;

			&:hover {
				.fa-shopping-cart:before {
					content: "\f217";
				}
			}
			.fa-shopping-cart {
				font-size: var(--global__font-size__xl);
			}
			span {
				display: none;
			}
		}
	}
}
