@use './../abstract/Product';
@use './../abstract/Promotion';
@use './product-thumbnail--cart';

/**
	LES MINIATURES ARTICLES ////////////////////////////////////////////////////////

	Est une extention de la class abstraite "Product" censée définir
	tous les éléments globaux d'une article: couleur, fonte...

	Ne gère pas l'aspect des INDISPONIBLES : c'est le parent "bootstrapé" qui s'occupe
	des effets à appliquer.
**/
.product-thumbnail {
	// Se laisse placer et étirer par son parent Grid
	position: relative;
	//
	// Décoration
	@extend .abstract-Product--card;
	--product-card__padding: 1.5rem 2rem 3rem 2rem;
	--product__price__transform-origin: left bottom;

	// Aligne les éléments internes dans une colonne aligner sur la gauche
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	transition: var(--global__transition--all);

	/**
		LE LIEN DES IMAGES --------------------------------------------------
	**/
	& > a {
		position: relative;
		grid-area: image;
		border: none;
		position: relative;
	}

	/**
		LE STATUS DE L'ARTICLE ---------------------------------------------
	**/
	@extend .abstract-Product--Status;
	--product__status__inset: 8rem auto auto -3px;

	/**
		LE CODE ARTICLE ----------------------------------------------------
	**/
	.product-code {
		padding-top: 2rem; // Eloigne verticalement de l'image
		margin: 0 0 2rem 0; // Décale l'ensemble vers la droite
		&:before {
			margin-left: -2rem; // Ramène le trait vers la gauche
		}
	}

	/**
		LA DESIGNATION ARTICLE ---------------------------------------------
	**/
	.product-libelle {
		height: 7rem !important ;
	}

	/**
		LA REMISE PROMO DE L'ARTICLE --------------------------------------
	**/
	.product-promotion.ribbon-top-right {
		@extend .abstract-Promotion;
	}

	/**
		LE PARENT DES INFOS PRODUITS --------------------
		// Celui à ne pas utiliser dans l'imbriquage
		// Structure des des infos de la miniature
	**/
	.product-caption {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 10rem 4.5rem 3rem 0;
		grid-template-areas:
			'code'
			'libelle'
			'prix_tarif'
			'prix_public';
		//
		align-items: start;
		background: none;
		padding: 0;
		border: none;
		margin-top: 1.5rem;
		//
		// prettier-ignore
		& [data-toggle="prix-tarif"] { transform: scale(1.25) ;}
		// prettier-ignore
		.show-prix-public & [data-toggle="prix-public"] { transform: scale(1.25); }

		// prettier-ignore
		& > div { padding: 0; } // Surécrit Bootstrap pour réaligner les paddings
	}

	// Extériorisation de la partie "Panier" (voir dossier Equation)
	@extend .product_thumbnail--cart;
}
