@use "./Typo" as *;
//
/**
	ENSEMBLE DES ELEMENTS AYANT L'ASPECT D'UN BOUTON
**/
@media (prefers-color-scheme: light) {
	.abstract-ButtonText {
		--color: var(--global__color__grey50);
		--color--hover: black;
	}
}

@media (prefers-color-scheme: dark) {
	.abstract-ButtonText {
		--color: var(--global__color__grey50);
		--color--hover: white;
	}
}
////////////////////////////////////////////////////////////////////////////////////////

// Bouton de base
.abstract-Button {
	--color: white;
	--color--hover: white;
	--background-color: var(--global__color__accent);
	--background-color--hover: var(--global__color__accent--hover);
	--background-image: linear-gradient(-45deg, #ffffff00 30%, #ffffff 50%, #ffffff00 70%);
	--border-color: var(--global__color__accent);
	--border-color--hover: var(--global__color__accent--hover);
	//
	// Typo
	color: var(--color);
	font-family: var(--global__font-family__text);
	font-size: var(--global__font-size__sm);
	font-weight: var(--global__font-weight__regular);
	text-transform: uppercase;
	// Bordure
	border-radius: var(--global__UI__border-radius--input);
	border: 2px solid var(--border-color);
	// Effet
	background-color: var(--background-color);
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-size: 200%;
	background-position-x: -100%;
	// Autre
	transition: var(--global__transition--all);
	padding: 0.5rem 1rem;
	width: max-content;

	// Les background-color sont pour surécrire ceux de Bootstrap
	&:hover {
		color: var(--color--hover);
		background-color: var(--background-color--hover);
		border-color: var(--border-color--hover);
		background-position-x: 200%;
	}
	&.focus,
	&:focus {
		outline-offset: 2px;
		outline: solid 1px white;
		background-color: var(--global__color__accent);

		&.active,
		&:active {
			background-color: var(--background-color--hover);
			border-color: var(--border-color--hover);
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////

// Emsemble des boutons "textes" n'ayant pas l'aspect d'un lien
.abstract-ButtonText {
	color: var(--color);
	border: none;
	@extend .abstract-P;

	&:hover {
		color: var(--color--hover);
	}
}
