//
/**
	LOGO COLOMBI SPORTS ANIMÉ
	
**/

@media (prefers-color-scheme: light) {
	:root {
		--logo__background-image: url(https://www.colombisports.com/b2b/2.0/img/logos/ColSports__noir-spritesheet.png);
		--logo__background-color: black;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--logo__background-image: url(https://www.colombisports.com/b2b/2.0/img/logos/ColSports__blanc-spritesheet.png);
		--logo__background-color: white;
	}
}

/**
Surécrit Le logo original implanté par Equation à l'aide d'un pointage plus précis. Le remplace par un logo animé Colombi Sports
Conserve le lien classique renvoyant sur la homepage. L'animation est plus haute que le header et par conséquent doit donc rester 
au dessous de tout et surtout la barre des familles.
*/

// Animation
$animDuration: 6s;
$animLoop: 60s;
$animDelay: 10s;

// Décalage du logo
$offset: 12px;

.abstract-Logo {
	// La feuille de sprites
	--logo--scale: 0.8;
	--sheet--steps: 122;
	--sheet--height: calc(12300px * var(--logo--scale));
	--sheet--height-lessOne: calc(var(--sprite--height) - var(--sheet--height)); // Laisse apparaitre la dernière image
	--sprite--width: calc(375px * var(--logo--scale)); // largeur d'origine de la feuille de sprite
	--sprite--height: calc(100px * var(--logo--scale)); // hauteur d'origine de chaque sprite dans la feuille
	//
	display: block; // Remplace le "inline" du lien
	background: var(--logo__background-image) no-repeat;
	background-size: var(--sprite--width) var(--sheet--height);
	background-position: 0 var(--sheet--height-lessOne);
	border: none !important ;

	// la taille
	width: var(--sprite--width);
	height: var(--sprite--height);
	transform-origin: left top;

	// L'animation
	animation: currentAnimation $animLoop steps(var(--sheet--steps));
	animation-iteration-count: infinite;
	animation-delay: $animDelay;

	// Appelle l'animation propre au survol
	&:hover {
		animation: hoverAnimation $animDuration steps(var(--sheet--steps)) forwards;
		animation-iteration-count: 1;
	}
	&:before,
	&:after {
		content: none !important;
	}
}

// L'animation du logo sur une période de 5% du temps de boucle
@keyframes currentAnimation {
	0% {
		background-position-y: 0px;
	}
	10% {
		background-position-y: var(--sheet--height-lessOne);
	}
}
// L'animation du logo sur une période de 100% pour le survol
@keyframes hoverAnimation {
	0% {
		background-position-y: 0px;
	}
	100% {
		background-position-y: var(--sheet--height-lessOne);
	}
}
