@use "./Typo";

/**
    Classe commune au miniature en forme de "carte" ou de "ligne", par conséquent
    définir ici toutes les caractéritiques communes aux "produits": couleur, fontes, etc...
    Les différences se gérant dans les fichiers spécifiques.
**/

// PRIX PUBLIC //////////////////////////////////////////////////////////
:root .show-prix-public {
	--product__price__color: yellow;
}
// PRIX TARIF HT ////////////////////////////////////////////////////////
:root {
	--product-code__color: var(--global__foreground-color);
	--product-rga__color: var(--label__color);
	--product-border__color: var(--product-menu__color);
}

.stock-danger {
	//--product-price__color: var(--global__color__grey50); //var(--global__color__danger);
	--stock-opacity: 0.33;
	--stock-content: "\f00d"; //  X
	--stock-color: var(--global__color__danger);
}
.stock-success {
	//--product-price__color: var(--label__color); // var(--global__color__success);
	--stock-opacity: 0.66;
	--stock-content: "\f00c"; //  |/
	--stock-color: var(--global__color__success);
}
.stock-danger,
.stock-success {
	&:hover {
		--stock-opacity: 1;
	}
}

// Classe à appliquer aux "articles"
.abstract-Product {
	/**
		VERSION PUBLIC /////////////////////////////////////////////////
		
		Le & faisant référence à ".abstract-Product"
		Permet ainsi l'incrustation dans la règle et par conséquent l'héritage lors des @extends
	**/
	.show-prix-public & {
		.product-prix[data-toggle="prix-tarif"] {
			display: none;

			--PVC__flex-direction: column-reverse;
			--PVC__price__font-size: var(--global__font-size__sm);
		}
		.product-prix[data-toggle="prix-public"] {
			display: flex;
			flex-direction: column-reverse;
			font-size: var(--global__font-size__lg);

			// Ajoute un texte du type de prix de la couleur du stock
			.desc-label:after {
				content: "PRIX PUBLIC TTC";
			}
		}
	}

	--product-code__color: var(--global__foreground-color);
	--product-rga__color: var(--label__color);
	--product-libelle__color: var(--global__foreground-color);
	--product-border__color: var(--product-menu__color);

	border-radius: var(--global__UI__border-radius--card);
	background-color: var(--global__background-color);

	/** 

	**/
	.product-marque-image {
		width: 40%;
		height: auto;
		padding: 0;
		text-align: center;
		position: absolute;
		z-index: 5;
		mix-blend-mode: multiply;
		top: 2rem;
		left: 2rem;
		img {
			max-height: 40px;
			max-width: 100%;
			width: auto;
		}
	}
	.image {
		img {
			mix-blend-mode: multiply;
		}
		box-shadow: inset 0 0 5rem #00000022;
		background: #fff;
		border-radius: calc(var(--global__UI__border-radius--card) * 0.25);
		width: 100%;
		height: auto;
		aspect-ratio: 1 / 1;
		display: grid;
		place-content: center;
		margin: 0;
		padding: 1rem;
	}

	.product-caption {
		background: none;
		border: none;
		padding: 2rem 0 0 0; // car padding de la carte
		position: relative;
	}

	.product-code {
		position: relative;
		font-size: var(--global__font-size__sm) !important;
		font-weight: var(--global__font-weight__light) !important;
		color: var(--product-code__color) !important;
		padding: 0;

		@extend .abstract-P;

		&::before {
			content: "";
			position: absolute;
			width: 3em;
			height: 0.15em;
			background-color: var(--product-border__color, red);
			bottom: -0.5rem;
		}
	}

	.product-rga {
		color: var(--product-rga__color) !important;
		font-size: var(--global__font-size__xs) !important;
	}

	.product-libelle {
		color: var(--product-libelle__color);
		@extend .abstract-H2;
		font-size: var(--global__font-size__md);
		line-height: 1.15em;
	}

	.product-cat {
		color: green;
	}

	.product-stock {
		display: none;
		span.label-stock {
			font-size: 0;

			&::before {
				content: "";
				font-size: var(--global__font-size__sm);
				font-family: FontAwesome;
				margin-top: -0.5em;
			}
		}
		span.label-success::before {
			content: "\f00c"; //  |/
			color: var(--global__color__success) !important;
		}
		span.label-danger::before {
			content: "\f00d"; //  X
			color: var(--global__color__danger) !important;
		}
	}
	.product-prix {
		color: var(--global__foreground-color);
		font-family: var(--global__font-family__text);
		position: relative;
		opacity: var(--stock-opacity);
		padding: 0 !important;
		margin: 0 0 -0.5rem 0 !important;

		// Le label des prix ////////////////////////////////////////////

		// Ajout d'un icone avant et d'un texte après
		&[data-toggle="prix-tarif"] .desc-label {
			.desc-label {
				display: none;
			}
		}
		//
		&[data-toggle="prix-public"] .desc-label {
			font-size: 0;
			display: flex;
			align-items: center;
			position: relative;
			//
			// Ajoute un icone de disponibilite de la couleur du stock
			&::before,
			&::after {
				font-weight: var(--global__font-weight__bold);
			}
			&::before {
				content: var(--stock-content);
				color: var(--stock-color);
				font-size: var(--global__font-size__md);
				font-family: FontAwesome;
			}
			// MODIFIER EN AMONT
			&:after {
				content: "PVC";
				font-size: var(--global__font-size__xs);
				margin-left: 0.5em;
			}
		}

		.desc-value {
			display: flex;
			flex-direction: --PVC__flex-direction;

			color: var(--product-price__color) !important ;
			font-size: var(--global__font-size__lg);
			font-weight: var(--global__font-weight__bold);

			margin-bottom: 0.33em;

			// Ajoute un icone et un texte au prix

			//// Ajoute un icone de disponibilite de la couleur du stock
			//&::before,
			//&::after {
			//	color: var(--stock-color);
			//	font-size: var(--global__font-size__sm);
			//	font-weight: var(--global__font-weight__bold);
			//	display: block;
			//	position: absolute;
			//}
			//&::before {
			//	content: var(--stock-content);
			//	font-family: FontAwesome;
			//	bottom: -1.25em;
			//}
			//// Ajoute un texte du type de prix de la couleur du stock
			//&:after {
			//	font-size: 0.5em;
			//	left: 1.25em;
			//	bottom: -1.4em;
			//}
		}

		//&[data-toggle='prix-tarif'] {
		//	display: block;
		//	.desc-value:after {
		//		content: 'PRIX TARIF HT';
		//	}
		//}
		//&[data-toggle='prix-public'] {
		//	display: block;
		//	.desc-value:after {
		//		content: 'PRIX PUBLIC TTC';
		//	}
		//}
	}

	transition: var(--global__transition--all);
	box-shadow: none;
}
