@use "./Typo";

/**
    CLASSE COMMUNE AU MINIATURE EN FORME DE "CARTE" OU DE "LIGNE" //////////////

    Par conséquent définir à partir d'ici toutes les caractéritiques communes
    aux articles : couleur, fontes, etc. Les différences se gérant dans des
    fichiers spécifiques.
**/

// Classe à appliquer aux "PRODUCT" (article)
.abstract-Product {
	// Les variables par défaut --------------------------------------------
	--product__code__color: var(--global__foreground-color);
	--product__rga__color: var(--label__color);
	--product__libelle__color: var(--global__foreground-color);
	--product__price__color: var(--global__foreground-color);
	--product__border__color: var(--colormap__product-color); // Voir fichier "utils/colormap.scss"
	--product__cat-color: var(--global__foreground-color);
	--product__marque__width: 12rem;
	--product__marque__height: 5rem;
	--product__price__transform-origin: center center;
	//
	--product__stock__icon-content: "\f00c"; //  ✔
	--product__stock__color: var(--global__color__success);
	--product__stock__opacity: 1;

	&.stock-danger {
		--product__stock__opacity: 0.5;
		--product__stock__icon-content: "\f00d";
		--product__stock__color: var(--global__color__danger);
	}

	/** 
		SELON LE THEME ////////////////////////////////////////////////////////////////////////
	**/
	// prettier-ignore
	@media (prefers-color-scheme: light) {&{
		--desc-label__color: var(--global__color__grey66); // Le texte soous le prix
		--product__marque__logo: var(--marque__logo-color__url); // Le logo de la marque
	}}
	// prettier-ignore
	@media (prefers-color-scheme: dark) {&{
		--desc-label__color: var(--global__color__grey33); // Le texte soous le prix
		--product__marque__logo: var(--marque__logo-white__url); // Le logo de la marque
	}}

	// Le sélecteur "all"'(astérix) pour être compatible avec les miniatures et les fiches produits
	*[class*="product-marque"] {
		position: relative;
		text-align: unset;
		margin-bottom: 2rem;
		width: var(--product__marque__width);
		height: var(--product__marque__height);
		padding: 0;
		border: none; // Pour les liens !
		//
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: var(--product__marque__logo);
			background-size: contain;
			background-position: left center;
			background-repeat: no-repeat;
		}
	}

	/**
		L'IMAGE PRODUIT --------------------------------------------------
		".image img" pour les thumbnails
		".left picture "pour les inlines
	**/
	// prettier-ignore
	.image, .left {
		// prettier-ignore
		img, picture { mix-blend-mode: multiply; }

		box-shadow: inset 0 0 5rem #00000022;
		background: #fff;
		border-radius: calc(var(--global__UI__border-radius--card) * 0.25);
		width: 100%;
		height: auto;
		aspect-ratio: 1 / 1;
		display: grid;
		place-content: center;
		margin: 0;
		padding: 1rem;
	}

	/**
		LE CODE ARTICLE ----------------------------------------------------
	**/
	.product-code {
		grid-area: code;
		//
		position: relative;
		font-family: var(--global__font-family__text) !important;
		font-size: var(--global__font-size__sm) !important;
		font-weight: var(--global__font-weight__light) !important;
		color: var(--product__code__color) !important;
		padding: 0rem 0;

		// Le soulignement
		&::before {
			content: "";
			position: absolute;
			width: 3em;
			height: 0.15em;
			background-color: var(--product__border__color);
			bottom: -0.5rem;
		}
	}

	/**
		LE RGA ARTICLE ----------------------------------------------------
		Ingénieusement mis dans le code article 😅
	**/
	.product-rga {
		grid-area: rga;
		//
		color: var(--product__rga__color) !important;
		font-size: var(--global__font-size__xs) !important;
	}

	/**
		LA DESIGNATION ARTICLE ---------------------------------------------
	**/
	.product-libelle {
		grid-area: libelle;
		//
		color: var(--product__libelle__color);
		font-family: var(--global__font-family__title);
		font-size: var(--global__font-size__lg);
		font-weight: var(--global__font-weight__bold);
		text-transform: uppercase;
		line-height: 1.2em;
	}

	/**
		LA DESCRIPTION ARTICLE -----------------------------------------------
		// Uniquement fiche article
	**/
	.product-description {
		grid-area: description;
		//
		font-family: var(--global__font-family__text);
		font-size: var(--global__font-size__md);
		font-weight: var(--global__font-weight__light);
		line-height: 2em;

		// prettier-ignore
		@media (prefers-color-scheme: light) { & { color: var(--global__color__grey75); } }
		// prettier-ignore
		@media (prefers-color-scheme: dark) { & { color: var(--global__color__grey25); } }
	}

	/**
		LA CATÉGORIE DE L'ARME ARTICLE ------------------------------------------
		// Uniquement fiche article
	**/
	.product-cat {
		grid-area: cat;
		//
		// prettier-ignore
		&.cat-B{ --product__cat-color: var(--global__color__cat-B );}
		// prettier-ignore
		&.cat-C{ --product__cat-color: var(--global__color__cat-C );}
		// prettier-ignore
		&.cat-D{ --product__cat-color: var(--global__color__cat-D );}
		//
		color: white;
		background-color: var(--product__cat-color);
		border-radius: calc(var(--global__UI__border-radius--card) * 0.25);

		font-family: var(--global__font-family__title);
		font-weight: var(--global__font-weight__bold);
		font-size: 4rem;
		padding: 3rem 0.3em 3.5rem 2rem;
		line-height: 0;

		&:before {
			content: "Catégorie ";
			font-family: var(--global__font-family__text);
			font-weight: var(--global__font-weight__bold);
			font-size: 0.6rem;
			transform: translate(-3px, 17px) rotate(-90deg);
			transform-origin: left center;
			position: absolute;
		}
	}

	/**
		LA DISPONIBILTÉ  -------------------------------------------------
		// Délégué sur le prix public
	**/
	.product-stock {
		grid-area: stock;
		display: none;
		@extend .abstract-Product--Stock;
	}

	/**
		LES PRIX  -----------------------------------------------------
		// Public et pro
	**/
	.product-prix,
	.product-remise {
		// Fait passer le label après le prix
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: nowrap;
		align-items: flex-start;

		// Affiche la couleur du prix selon la dispo
		opacity: var(--product__stock__opacity);
		color: var(--product__price__color);

		// Surécrit les classes Equation
		padding: 0 !important;
		margin: 0 0 -0.5rem 0 !important;

		// Effet du réduction du prix -------------------------------------
		transform-origin: var(--product__price__transform-origin);
		//
		// prettier-ignore
		&[data-toggle="prix-tarif"] { grid-area: prix_tarif ;}
		// prettier-ignore
		&[data-toggle="prix-public"] { display: flex !important ; grid-area: prix_public ; }
		// Surécrit la masquage du prix qui utilise IMPORTANT dans le fichier "global.scss"

		// Le label des prix -------------------------------------------
		.desc-label {
			font-size: 0; // Réduction du texte d'orgine

			&:after {
				// Définition du texte de remplacement
				content: "PRIX";
				font-size: var(--global__font-size__xs);
				color: var(--desc-label__color);
				line-height: 1rem;
			}
		}
		// Définition du label de remplacement pour le prix pro
		&[data-toggle="prix-tarif"] .desc-label:after {
			content: "Tarif HT";
		}
		// Définition de l'icone de stock et sa couleur, juste  avant le label de remplacement
		&[data-toggle="prix-public"] .desc-label:before {
			content: var(--product__stock__icon-content);
			color: var(--product__stock__color);
			font-size: var(--global__font-size__sm);
			font-family: FontAwesome;
			line-height: 1.7em;
			position: absolute;
		}
		// Définition du label de remplacement pour le prix public
		&[data-toggle="prix-public"] .desc-label:after {
			content: "Prix vente conseillé";
			margin-left: 1.25rem;
			line-height: 2em;
		}
		// Le prix par lui-même ------------------------------------------
		.desc-value {
			color: var(--product-price__color) !important ;
			font-size: var(--global__font-size__lg);
			font-weight: var(--global__font-weight__bold);
			margin-bottom: 0.15em;

			&.lead {
				margin-bottom: -0.25rem;
				min-height: initial !important ;
				line-height: 1;
			}
		}
	}

	// Change le label de la remise, doit rester après la déclaration principale ci-avant.
	.product-remise .desc-label:after {
		content: "Votre remise" !important ;
	}
	.product-prix.prix-client .desc-label:after {
		content: "Votre prix HT" !important ;
	}
}

/**
	Permet de dissocier les Thumbnails de la fiche article.
**/
.abstract-Product--card {
	--product-card__padding: 0;

	border: none !important ;
	border-radius: var(--global__UI__border-radius--card);
	background-color: var(--global__background-color);
	transition: var(--global__transition--all);
	padding: var(--product-card__padding);
	margin: 0;
	box-shadow: none;
	@extend .abstract-Product;

	// Définit les propriétés de la carte avant survol.
	--thumbnail__ribbon__color: var(--colormap__product-color); // Le ruban PROMOTION
	// Définit les propriétés avant survol.
	--thumbnail__input_shadow: 0 0 1rem #00000000; // L'ombre du bouton et du champs Quantité
	--thumbnail__button__color: var(--global__color__accent); //Le boutton PANIER
	--thumbnail__icon__color: white; // var(--global__background-color); // L'icone du bouton PANIER
	--thumbnail__input__width: 7.5rem;
	--thumbnail__input__padding: 0.5rem 0rem 0.5rem 0rem;
	--thumbnail__button__right: 0rem;

	&:hover {
		// Définit en amont par "abstract-Product" ----------------------------
		--product__code__color: white;
		--product__border__color: white;
		--product__rga__color: white;
		--product__libelle__color: white;
		--product__price__color: white;
		--product__marque__logo: var(--marque__logo-white__url);
		--product__stock__color: white;
		--product__stock__opacity: 1;
		//
		--global__color__promo: white;
		--global__color__promo--text: var(--colormap__product-color);
		//
		--thumbnail__button__color: white !important ; // var(--global__foreground-color);
		--thumbnail__icon__color: var(--colormap__product-color) !important ; // var(--global__background-color);
		--thumbnail__ribbon__color: black;

		--desc-label__color: white;
		//
		background-color: var(--colormap__product-color);
		box-shadow: none;
		cursor: not-allowed;
	}
	&.stock-danger:hover,
	&.stock-success:hover {
		--product__stock__opacity: 1;
	}
}

/**
	Utilisé les classes Bootstrap plutôt que le status produit.
**/
.abstract-Product--Stock {
	--stock__opacity: 1;
	--icon__size: var(--global__font-size__md);
	--product__stock__icon-content: "\f00c"; //  ✔
	--icon__color: var(--global__color__success);

	.label-stock.label-danger {
		--stock__opacity: 0.5;
		--product__stock__icon-content: "\f00d"; //  ❌  l'icone accompagnant le label
		--icon__color: var(--global__color__danger); // La couleur de l'icone
	}
	// .label-stock.label-success {
	// 	--stock__opacity: 1;
	// 	--icon__content: "\f00c"; //  ✔
	// 	--icon__color: var(--global__color__success);
	// }

	span {
		background: none;
		color: var(--product__stock__color);
		font-size: 0;

		// L'icone
		&::before {
			content: var(--product__stock__icon-content);
			color: var(--icon__color);
			font-size: var(--icon__size);
			font-family: FontAwesome;
		}
		// Le label
		&::after {
			content: "Stock";
			display: block;
			color: var(--desc-label__color);
			font-size: var(--global__font-size__xs);
			font-weight: var(--global__font-weight__regular);
			line-height: 0;
			margin: 0.5rem 0 0 0;
			padding-bottom: 1.5rem;
			text-align: left;
		}
	}
}

/**
	Ajout d'un bloc de couleur utlisant le BEFORE et l'AFTER de classe étendue.
	Correspond au "statut-XXXX" (avec faute) envoyé par Equapro depuis Equation.
**/
.abstract-Product--Status {
	--product__status__font-size: var(--global__font-size__md);
	--product__status__inset: 0 auto auto 0;
	//
	// Taille et position en commun
	&.statut-PRECO::after,
	&.statut-PRECO::before,
	&.statut-NOUVEAU::after,
	&.statut-NOUVEAU::before {
		content: "";
		color: transparent;
		position: absolute;
		inset: var(--product__status__inset);
		//
		display: grid;
		place-content: center;
		font-size: var(--product__status__font-size);
		font-weight: var(--global__font-weight__bold);
		letter-spacing: -0.05rem;
		padding: 0.75em 1.5em;
		z-index: 1;
	}
	// Définit la forme pour tous -----------------------------------
	&.statut-NOUVEAU::after,
	&.statut-PRECO::after {
		clip-path: polygon(0% 10%, 100% 0%, 90% 100%, 5% 95%);
	}
	// L'ombre, annule le clip-path à cause du blur ----------------
	&.statut-NOUVEAU::before,
	&.statut-PRECO::before {
		clip-path: unset;
		background: linear-gradient(90deg, #000000cc, #00000000);
		transform: scale(1.1, 0.85) rotate(7.5deg) translate(0.5em, 1em);
		filter: blur(0.5em);
	}
	// Pour le status NOUVEAU ---------------------------------------
	&.statut-NOUVEAU::before,
	&.statut-NOUVEAU::after {
		content: "NOUVEAU";
		// Taille dynnamique, permet que les deux soient identiques
		// Celui du dessous, l'ombre, la couleur est transparente
	}
	&.statut-NOUVEAU::after {
		color: var(--global__color__nouveau--text);
		background-color: var(--global__color__nouveau);
	}
	// Pour le status PRECO -----------------------------------------
	&.statut-PRECO::before,
	&.statut-PRECO::after {
		content: "PRECOMMANDE";
		// Taille dynnamique, permet que les deux soient identiques
		// Celui du dessous, l'ombre, la couleur est transparente
	}
	&.statut-PRECO::after {
		color: var(--global__color__preco--text);
		background-color: var(--global__color__preco);
	}
}
