@use './Typo';

/**
    CLASSE COMMUNE AU MINIATURE EN FORME DE "CARTE" OU DE "LIGNE" //////////////

    Par conséquent définir à partir d'ici toutes les caractéritiques communes
    aux articles : couleur, fontes, etc. Les différences se gérant dans des
    fichiers spécifiques.
**/

// Classe à appliquer aux "PRODUCT" (article)
.abstract-Product {
	// Les variables par défaut --------------------------------------------
	--product__code__color: var(--global__foreground-color);
	--product__rga__color: var(--label__color);
	--product__libelle__color: var(--global__foreground-color);
	--product__price__color: var(--global__foreground-color);
	--product__border-color: var(--colormap__product-color); // Voir fichier "utils/colormap.scss"
	--product__cat-color: var(--global__foreground-color); // En attente de la classe Equation
	--product__marque__height: 5rem;
	--product__marque__aspect-ratio: 3 / 1;
	// FONCTIONNNE
	// .show-prix-public & {
	// 	background-color: brown;
	// }

	/**
		TOUTES VERSIONS ///////////////////////////////////////////////////
		NE PAS INCRUSTRER LES SÉLECTEURS CI-DESSOUS !
	**/

	/** 
		LE LOGO DE LA MARQUE -------------------------------------------
		Car ils peuvent être sur fond noir ou blanc
	**/
	// LE LOGO DE LA MARQUE SELON L'ANCIENNE METHODE
	.product-Marque {
		grid-area: marque;
		//
		height: var(--product__marque__height);
		aspect-ratio: var(--product__marque__aspect-ratio);
		border: none;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: var(--marque__logo-url);
			background-size: contain;
			background-position: left center;
			background-repeat: no-repeat;
		}
	}

	/**
		L'IMAGE PRODUIT --------------------------------------------------
		".image img" pour les thumbnails
		".left picture "pour les inlines
	**/
	// prettier-ignore
	.image, .left {
		// prettier-ignore
		img, picture { mix-blend-mode: multiply; }

		box-shadow: inset 0 0 5rem #00000022;
		background: #fff;
		border-radius: calc(var(--global__UI__border-radius--card) * 0.25);
		width: 100%;
		height: auto;
		aspect-ratio: 1 / 1;
		display: grid;
		place-content: center;
		margin: 0;
		padding: 1rem;
	}

	/**
		LE CODE ARTICLE ----------------------------------------------------
	**/
	.product-code {
		grid-area: code;
		//
		position: relative;
		font-family: var(--global__font-family__text) !important;
		font-size: var(--global__font-size__sm) !important;
		font-weight: var(--global__font-weight__light) !important;
		color: var(--product__code__color) !important;
		padding: 0;

		// Le soulignement
		&::before {
			content: '';
			position: absolute;
			width: 3em;
			height: 0.15em;
			background-color: var(--product__border-color, #666);
			bottom: -0.5rem;
		}
	}

	/**
		LE RGA ARTICLE ----------------------------------------------------
		Ingénieusement mis dans le code article 😅
	**/
	.product-rga {
		grid-area: rga;
		//
		color: var(--product__rga__color) !important;
		font-size: var(--global__font-size__xs) !important;
	}

	/**
		LA DESIGNATION ARTICLE ---------------------------------------------
	**/
	.product-libelle {
		grid-area: libelle;
		//
		color: var(--product__libelle__color);
		font-family: var(--global__font-family__title);
		font-size: var(--global__font-size__md);
		font-weight: var(--global__font-weight__bold);
		line-height: 1.15em;
	}

	.product-description {
		grid-area: description;
		//
		font-family: var(--global__font-family__text);
		font-size: var(--global__font-size__sm);
		font-weight: var(--global__font-weight__light);
		line-height: 2em;

		@media (prefers-color-scheme: light) {
			& {
				color: var(--global__color__grey75);
			}
		}
		@media (prefers-color-scheme: dark) {
			& {
				color: var(--global__color__grey25);
			}
		}
	}

	// Uniquement fiche article
	.product-cat {
		grid-area: cat;
		//
		// prettier-ignore
		&.cat-B{ --product__cat-color: var(--global__color__cat-B );}
		// prettier-ignore
		&.cat-C{ --product__cat-color: var(--global__color__cat-C );}
		// prettier-ignore
		&.cat-D{ --product__cat-color: var(--global__color__cat-D );}

		color: white;
		background-color: var(--product__cat-color);
		border-radius: calc(var(--global__UI__border-radius--card) * 0.25);

		font-family: var(--global__font-family__title);
		font-weight: var(--global__font-weight__bold);
		font-size: 4rem;
		padding: 1.3rem 0.2em 1.4rem 1.4rem;

		&:before {
			content: 'Catégorie ';
			font-family: var(--global__font-family__text);
			font-weight: var(--global__font-weight__bold);
			font-size: 0.6rem;
			transform: translate(-3px, 17px) rotate(-90deg);
			transform-origin: left center;
			position: absolute;
		}
	}

	// Les valeurs en mode article dispo -----------------------------------

	.product-stock {
		grid-area: stock;
		//display: none;
	}
	&.stock-danger {
		--product__stock__opacity: 0.33; // L'opacité de stock
		--stock-content: '\f00d'; //  X  l'icone accompagnant le label
		--stock-color: var(--global__color__danger); // La couleur de l'icone
	}
	&.stock-success {
		--product__stock__opacity: 0.66;
		--stock-content: '\f00c'; //  |/
		--stock-color: var(--global__color__success);
	}
	// Déplacer dans la classe abstraite ".abstract-Product--card"
	// &.stock-danger:hover,
	// &.stock-success:hover {
	// 	--product__stock__opacity: 1;
	// }
	/**
		VERSION PUBLIC /////////////////////////////////////////////////
		
		Le & faisant référence à ".abstract-Product"
		Permet ainsi l'incrustation dans la règle et par conséquent l'héritage lors des @extends
	**/
	.show-prix-public & {
		.product-prix[data-toggle='prix-tarif'] {
			display: none;

			--PVC__flex-direction: column-reverse;
			--PVC__price__font-size: var(--global__font-size__sm);
		}
		.product-prix[data-toggle='prix-public'] {
			display: flex;
			flex-direction: column-reverse;
			font-size: var(--global__font-size__lg);

			// Ajoute un texte du type de prix de la couleur du stock
			.desc-label:after {
				content: 'PRIX PUBLIC TTC';
			}
		}
	}

	.product-prix {
		//opacity: var(--product__stock__opacity);
		color: var(--product__price__color);
		font-family: var(--global__font-family__text);
		position: relative;
		padding: 0 !important;
		margin: 0 0 -0.5rem 0 !important;

		// Le label des prix -------------------------------------------

		.desc-label {
			font-size: var(--global__font-size__xs);
			font-size: 0;
		}

		&[data-toggle='prix-tarif'] {
			.desc-label {
			}
			.desc-value {
			}
		}
		//
		&[data-toggle='prix-public'] {
			.desc-label {
				font-size: 0;
				display: flex;
				align-items: center;
				position: relative;
				//
				// Ajoute un icone de disponibilite de la couleur du stock
				&::before,
				&::after {
					font-weight: var(--global__font-weight__bold);
				}
				&::before {
					content: var(--stock-content);
					color: var(--stock-color);
					font-size: var(--global__font-size__md);
					font-family: FontAwesome;
				}
				// MODIFIER EN AMONT
				&:after {
					content: 'PVC';
					font-size: var(--global__font-size__xs);
					margin-left: 0.5em;
				}
			}
			.desc-value {
			}
		}

		.desc-value {
			display: flex;
			flex-direction: var(--PVC__flex-direction);

			color: var(--product-price__color) !important ;
			font-size: var(--global__font-size__lg);
			font-weight: var(--global__font-weight__bold);

			margin-bottom: 0.33em;
		}
	}
}

.abstract-Product--card {
	border-radius: var(--global__UI__border-radius--card);
	background-color: var(--global__background-color);
	transition: var(--global__transition--all);
	box-shadow: none;
	@extend .abstract-Product;

	// Les variables au survol ---------------------------------------------
	&:hover {
		//--product-price__color: white;
		--product__code__color: white;
		--product__rga__color: white;
		--product__libelle__color: white;
		--product__border-color: white;
		--product__button__color: white;
		--product__icon__color: var(--colormap__product-color);
		--product__ribbon__color: black;

		//--unvalaible-filter: none;

		background-color: var(--colormap__product-color);
		box-shadow: none;
	}
	&.stock-danger:hover,
	&.stock-success:hover {
		--product__stock__opacity: 1;
	}
}
