/**
      Etendre à la classe ".ribbon-rop-right"

      Toutes les règles sont là pour quelque chose :
            - Définir la valeur
            - Surécrire une valeur Equation
**/
.abstract-Promotion {
	//
	// prettier-ignore
	.show-prix-public & { display: none !important ; }
	// MASQUE LA PROMO POUR LES CLIENTS DE L'ARUMURIER

	// Surécriture Equation ---------------------------------------------
	width: 150px;
	height: 150px;
	top: -2.2rem;
	right: -2.2rem;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	display: grid;
	place-content: center;
	padding: 0;

	// L'effet d'ombre sous le ruban
	&::before {
		content: '';
		width: 200px;
		height: 52px;
		background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(black), color-stop(80%, rgba(0, 0, 0, 0)));
		background: linear-gradient(90deg, rgba(0, 0, 0, 0) 20%, black, rgba(0, 0, 0, 0) 80%);
		-webkit-transform: rotate(45deg) translate(-7px, -5px);
		transform: rotate(45deg) translate(-7px, -38px);
		mix-blend-mode: multiply;
		-webkit-filter: blur(5px);
		filter: blur(5px);
	}
	// La valeur de la promotion sous Equation -------------------------
	span {
		// Surécriture Equation
		width: 200px;
		height: 50px;
		top: 20px;
		right: -50px;
		position: absolute;
		box-shadow: none;
		background: var(--global__color__promo);
		color: var(--global__color__promo--text);
		font-size: var(--global__font-size__lg);
		font-weight: 900;
		line-height: 0.8em;
		padding: 0.4em 0 1.5em 0;
		text-align: center;

		// Aligne le signe et la valeur
		display: inline-block;

		// Le signe -
		&::before {
			content: '-';
			border: none;
			position: relative;
			display: inline;
		}

		// Ajoute le label de la promo
		&::after {
			content: 'PROMOTION';
			font-size: var(--global__font-size__xs);
			font-weight: var(--global__font-weight__regular);
			display: block;
			border: none;
			line-height: 1.25em;
		}
	}
}
