.abstract-P {
	font-family: var(--global__font-family__text);
	font-size: var(--global__font-size__md);
	font-weight: var(--global__font-weight__regular);
}

.abstract-H {
	font-family: var(--global__font-family__title);
	color: var(--global__color__accent);
	font-weight: var(--global__font-weight__bold);
	letter-spacing: -0.0125em;
	margin-bottom: 1em;
}
h1,
.h1,
.abstract-H1 {
	@extend .abstract-H;
	font-size: calc(var(--global__font-size__xl) * 1.1);
}
h2,
.h2,
.abstract-H2 {
	@extend .abstract-H;
	font-size: var(--global__font-size__xl);
}
h3,
.h3,
.abstract-H3 {
	@extend .abstract-H;
	font-size: var(--global__font-size__lg);
}
h4,
.h4,
.abstract-H4 {
	@extend .abstract-H;
	font-size: var(--global__font-size__sm);
}
h5,
.h5,
.abstract-H5 {
	@extend .abstract-H;
	font-size: var(--global__font-size__xm);
}

// prettier-ignore
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.abstract-H{
	color: var(--global__color__accent) ;
	font-family: var(--global__font-family__title);
	font-weight: var(--global__font-weight__bold);
	letter-spacing: -0.025em ;
	line-height: 1.2em ;
	margin-bottom: 1em ;
}
